.\assets\algorithm_for_full_analys.png
.\algorytm_do_kalkulacji_chlonnosci
.\assets\algorithm_for_full_analys.png
.\assets\full_analyse.jpg
.\assets\logo male.jpg
.\assets\logo.jpg
.\assets\Zrzut_ekranu_dane_wprowadzane.jpg
.\assets\Zrzut_ekranu_wynik.jpg